*{
    margin: 0px;
    padding: 0px;
}
header{
    background: url(img/allbanner.jpg)no-repeat;
    padding: 50px 0px;
    background-size: cover;
    background-position: top center;
    
}
.logo img{
    width: 200px;
    padding-left: 31px;
    
}
a{
    text-decoration: none;
    color: #f6f9fa;
}
.menu ul li{
    display: inline-block;
    list-style-type: none;
   margin-left: 50px;
   margin-bottom: 125px;
}
.banner-text h1
{
    color: cornsilk;
    margin-bottom: 30px;
    background-color: #353534;
    padding: 30px 51px;
    display: inline-block;
}
.banner-text p
{
    color: cornsilk;
    margin-bottom: 117px;
}
.banner-text span
{
    width: 50px;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 0;
   
}
.btn
{     color: cornsilk;
    
   
    padding: 9px 25px;
   background-color: transparent;
   border-color: white;
   font-size: 22px;
   margin-bottom: 150px;

}



.wel-content h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333333;
    position: relative;
    padding-bottom: 30px;  
}
.wel-content h2::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #000;
}
.wel-content p {
    padding-right: 78px;
    padding-top: 20px;  
    font-size: 14px; 
}

#welcome {
    padding-top: 90px;
   
    background: #f6f6f6;
}
.img-fluid {
    max-width: 100%;
    height: auto;}

.wel-img img.back {
    position: relative;
    transform: translate(-18%, 16%);
}
.wel-img img.car
{
    position: absolute;
    transform: translate(30%, -150%); 
}
#another-title {
    background: #28282e;
    padding-top: 100px;
    padding-bottom: 130px;
}
.another-content h2 {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding-bottom: 30px;  
}
.another-content h2::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
}
.another-content p {
    padding-right: 78px;
    padding-top: 20px; 
    color: #fff;  
    font-size: 14px;
}
.another-btn button{
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 10px 40px;
    text-transform: uppercase;
    margin-top: 25px;
    transition: all linear .2s;
}
.another-btn button:hover{
    background: #fff;
    color: #28282e;
}
.another-img img {
    display: block;
    margin-top: 70px;
}
footer {
    background: tomato;
    padding: 20px ;
    text-align: center;
    font-size: 13px;

}













